@import url('header.css');
@import url('sidebar.css');
@import url('content.css');

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

/* 確保整個畫面滿版 */
.container {
    display: flex;
    height: 100vh;
    position: relative;
    flex-direction: column;
    overflow: hidden;
}

/* 主內容區域，包含 Sidebar 和 Content */
.main {
    display: flex;
    flex: 1; /* 填滿 Header 以外的空間 */
    overflow: hidden;
}
